---
import Modal from "../Modal.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Modal openText="Open" closeText="Close">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente provident mollitia molestiae hic consequatur aliquam impedit fuga eum illo quam repellat repudiandae, magni deserunt voluptates quaerat perferendis sit incidunt harum.</p>
		</Modal>
	</body>
</html>
